/* Estoy realizando el sitio sobre una Óptica :) */
@media screen and (min-width: 1024px) {
	#grilla {
            grid-template-columns: repeat(3, 1fr);
      }
      .border {
    	border: 4px solid black;
    	background-color: green;
     }
}

body{
    background-color: #FFFFFF;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1200 800'%3E%3Cdefs%3E%3CradialGradient id='a' cx='0' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23ffffff'/%3E%3Cstop offset='1' stop-color='%23ffffff' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='1200' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23e9f0ff'/%3E%3Cstop offset='1' stop-color='%23e9f0ff' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='c' cx='600' cy='0' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23e9f0ff'/%3E%3Cstop offset='1' stop-color='%23e9f0ff' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='d' cx='600' cy='800' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23FFFFFF'/%3E%3Cstop offset='1' stop-color='%23FFFFFF' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='e' cx='0' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23FFFFFF'/%3E%3Cstop offset='1' stop-color='%23FFFFFF' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='f' cx='1200' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23D3E1FF'/%3E%3Cstop offset='1' stop-color='%23D3E1FF' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='1200' height='800'/%3E%3Crect fill='url(%23b)' width='1200' height='800'/%3E%3Crect fill='url(%23c)' width='1200' height='800'/%3E%3Crect fill='url(%23d)' width='1200' height='800'/%3E%3Crect fill='url(%23e)' width='1200' height='800'/%3E%3Crect fill='url(%23f)' width='1200' height='800'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    
}


.grid {
    display: grid;  
    grid-template-columns: 300px 100px; 
    grid-template-rows: 40px 100px;
    font-family: Arial, Helvetica, sans-serif ;
    grid-column-gap: 10px;
    grid-row-gap: 15px;
    justify-items: start;
    display: flex;
    flex-direction: row; 
    justify-content: space-evenly;
    align-content: center;



 }
 
h1{
    color: blue;
    font-family: Arial, Helvetica, sans-serif ;
}

h2{
    color: blueviolet;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: row; 
    justify-content: space-evenly;


}

h3{
    color: grey;
    font-family: Arial, Helvetica, sans-serif;
}

fieldset{
    color: blueviolet;
    font-family: Arial, Helvetica, sans-serif;
}

p{
    color: rgb(90, 5, 95);
    font-family: Arial, Helvetica, sans-serif ; 
    text-align: justify;
    padding-right: 20px;
    grid-column-gap: 10px;
    grid-row-gap: 15px;
    justify-items: start;
    justify-content: space-between;
    background-image: linear-gradient(to bottom, rgb(250, 217, 255) , rgb(255, 246, 254));

}
   
footer{
    color: grey;
    font-family: Arial, Helvetica, sans-serif ;
}

ul {
    color: blueviolet;
    font-family: Arial, Helvetica, sans-serif;
    width: 200px;
    border: 1px solid rgb(144, 10, 181);
    padding: 50px;
    margin: 20px;
}

a{
    color: blueviolet;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
}

div{
    display: flex;
    flex-direction: row; 
    justify-content: space-evenly;
}

#lente001 {
transform: rotate(350deg);

}

#lente002 {
        width: 400px;
        height: 200px;
        transition: height 2s, width 1s;       
     }

#lente002 :hover {
        height: 100px; width: 200px;
     }
     
